html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.page-header {
	padding-bottom: 1.0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom: 1px solid #eeeeee;
}
#wrap {
    position: relative;
    min-height: 100%;
    padding: 75px 0 133px 0;
}
#footer {
    margin-bottom: 0;
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
}
.social-login-icons {
    margin-right: 20px;
}
.social-google {
    color: #da573b;
    border-color: #be5238;
}
.social-google:hover {
    color: #be5238;
    border-color: #9b4631;
}
.social-git {
    color: #34495E;
    border-color: #34495E;
}
.social-git:hover {
    color: #2C3E50;
    border-color: #2C3E50;
}
.social-facebook {
    color: #4c699e;
    border-color: #47618d;
}
.social-facebook:hover {
    color: #47618d;
    border-color: #3c5173;
}
.social-linkedin {
    color: #4875B4;
    border-color: #466b99;
}
.social-linkedin:hover {
    color: #466b99;
    border-color: #3b5a7c;
}
.main {
    width: 320px;
    margin: 0 auto;
}
.login-checkbox {
    float: right;
}
.login-checkbox > label > #remember {
    margin-top: 5px;
}
.home-search {
    margin-bottom: 0px;
}
.list-group-custom > li > div > a > img {
    width: 35px;
}
.list-group-custom > li > div > .media-body > p {
    font-size: 14px;
    margin: 0px;
}
.list-group-custom > li > div > .media-body > .media-heading {
    font-size: 20px;
    font-weight: bold;
}
.nav-tabs {
    margin-bottom: 15px;
}
.navbar-brand img {
    margin-top: -5%;
}
.clear-both {
    clear: both;
}
.banner-github {
    position: absolute;
    top: 64px;
    right: 0;
    border: 0;
}
.label {
    font-weight: 500;
}
/* The main xDocker CSS stuff */

.process-next-arrow-horizontal {
    position: absolute;
    top: 2em;
    right: -0.5em;
}
.process-next-arrow-vertical {
    margin: 0.2em;
}
.display-initial {
    display: initial;
}
/* Reset whitespace wrapping on .btn in smaller screens to allow them to bend */

@media (max-width: 980px) {
    .btn {
        white-space: inherit;
   }
}
