.un-button.un-right {
    right: -2px;
    top: 50%;
    padding: 12px 15px 16px;
    transform-origin: right top 0px;
    transform: rotate(90deg);
}
.un-button.un-has-border {
    border: 0px solid #FFF;

}
.un-button, .un-button:hover {
    text-decoration: none !important;
    color: white;
}
.un-button {
    position: fixed;
    opacity: 0.95;
    z-index: 9997;
    text-decoration: none;
    color: #FFF;
    border-radius: 4px;
    background: none repeat scroll 0% 0% #404040;
    padding: 14px 15px 12px;
    line-height: 14px;
    float: none;
    text-shadow: none;
} 